In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
datos1="evespres.xlsx"

In [4]:
df = pd.read_excel(datos1)

In [5]:
print(df.head()[:1])

           Marca temporal Fecha de nacimiento Género  \
0 2022-09-12 16:29:14.354          2002-05-13  mujer

          Nivel educacional Comuna de residencia  \
0  Universitaria incompleta               macul

  1. ¿Cómo describirías la diferencia entre la expresión A y B?\nA. Empezó a llover en la madrugada.\nB. Se largó a llover en la madrugada.  \
0                                          sinonimas

  2. ¿Cómo describirías la diferencia entre la expresión C y D?\nC. Luis se gana a vender aliños en la feria los sábados.\nD. Luis se pone a vender aliños en la feria los sábados.  \
0                                          sinonimas

  3. ¿Cómo describirías la diferencia entre la expresión E y F?\nE. Paula se echó a correr cuando sintió ese ruido.\nF. Paula se largó a correr cuando sintió ese ruido.  \
0                                          sinonimas

  4. ¿Cómo describirías la diferencia entre la expresión G y H?\nG. José se puso a trabajar como mueblista.\nH. José se metió a trabajar como mueblista.  \
0  por alguna razón siento que en la h se siente ...

  5. ¿Cómo describirías la diferencia entre la expresión I y J?\nI. Roberto partió a estudiar temprano hoy día.\nJ. Roberto comenzó a estudiar temprano hoy día.  \
0  en la expresión i es como si roberto se despla...

   ...  \
0  ...

  6. Ordena las siguientes frases de tal forma que la primera (1) sea la que te parece más natural (o menos forzada) hasta llegar a la última (5), menos natural (o más forzada). [La niña se largó a tener sed]  \
0                                                4.0

  6. Ordena las siguientes frases de tal forma que la primera (1) sea la que te parece más natural (o menos forzada) hasta llegar a la última (5), menos natural (o más forzada). [La niña empezó a tener sed]  \
0                                                1.0

  6. Ordena las siguientes frases de tal forma que la primera (1) sea la que te parece más natural (o menos forzada) hasta llegar a la última (5), menos natural (o más forzada). [La niña rompió a tener sed]  \
0                                                5.0

  6. Ordena las siguientes frases de tal forma que la primera (1) sea la que te parece más natural (o menos forzada) hasta llegar a la última (5), menos natural (o más forzada). [La niña se echó a tener sed]  \
0                                                3.0

  7. Ordena las siguientes frases de tal forma que la primera (1) sea la que te parece más natural (o menos forzada) hasta llegar a la última (5), menos natural (o más forzada). [Se pusieron a trabajar mil quinientas personas]  \
0                                                2.0

  7. Ordena las siguientes frases de tal forma que la primera (1) sea la que te parece más natural (o menos forzada) hasta llegar a la última (5), menos natural (o más forzada). [Se largaron a trabajar mil quinientas personas]  \
0                                                3.0

  7. Ordena las siguientes frases de tal forma que la primera (1) sea la que te parece más natural (o menos forzada) hasta llegar a la última (5), menos natural (o más forzada). [Empezaron a trabajar mil quinientas personas]  \
0                                                1.0

   7. Ordena las siguientes frases de tal forma que la primera (1) sea la que te parece más natural (o menos forzada) hasta llegar a la última (5), menos natural (o más forzada). [Rompieron a trabajar mil quinientas personas]  \
0                                                5.0

   7. Ordena las siguientes frases de tal forma que la primera (1) sea la que te parece más natural (o menos forzada) hasta llegar a la última (5), menos natural (o más forzada). [Se echaron a trabajar mil quinientas personas]  \
0                                                4.0

   ¿Hubo ejemplos que te causaron mucha extrañeza o "sonaron raros"?¿Podrías señalar cuáles y explicar con tus propias palabras por qué?
0  en general los ejemplos de la niña me sonaron ...

[1 rows x 38 columns]

In [6]:
valores=df[["Fecha de nacimiento", "Nivel educacional"]]

In [7]:
print(valores)

    Fecha de nacimiento         Nivel educacional
0            2002-05-13  Universitaria incompleta
1            1996-08-29  Universitaria incompleta
2            1995-10-17    Universitaria completa
3            1998-08-13  Universitaria incompleta
4            1997-09-13  Universitaria incompleta
..                  ...                       ...
150          1999-03-24  Universitaria incompleta
151          1993-03-08    Universitaria completa
152          1999-11-22  Universitaria incompleta
153          2000-05-24  Universitaria incompleta
154          1999-05-25  Universitaria incompleta

[155 rows x 2 columns]

In [8]:
valores[:5]

  Fecha de nacimiento         Nivel educacional
0          2002-05-13  Universitaria incompleta
1          1996-08-29  Universitaria incompleta
2          1995-10-17    Universitaria completa
3          1998-08-13  Universitaria incompleta
4          1997-09-13  Universitaria incompleta

In [9]:
type(valores)

pandas.core.frame.DataFrame

In [10]:
Datofecha = (df['Fecha de nacimiento'])

In [11]:
Datofecha[:5]

0   2002-05-13
1   1996-08-29
2   1995-10-17
3   1998-08-13
4   1997-09-13
Name: Fecha de nacimiento, dtype: datetime64[ns]

In [12]:
Datofecha=[string.strip() for string in Datofecha]

AttributeError: 'Timestamp' object has no attribute 'strip'

In [ ]:
type(Datofecha)

In [ ]:
datos25 = Datofecha.to_frame()

In [ ]:
type(datos25)

In [ ]:
datos25[:5]

In [ ]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
import matplotlib.units as units
import matplotlib.dates as dates
import matplotlib.ticker as ticker
import datetime

In [ ]:
from datetime import date
from dateutil.relativedelta import relativedelta

In [ ]:
surveys = pd.read_csv("datosencvesp.csv")
my_plot = surveys.plot("Fecha de nacimiento", "Nivel educacional", kind="scatter")
plt.show() # no necesariamente en Jupyter Notebooks

In [ ]:
plt

In [ ]:
my_plot

In [ ]:
base = datetime.datetime('valores')
dates = [base + datetime.timedelta(hours=(2 * i)) for i in range(732)]
N = len(dates)
np.random.seed(19680801)
y = np.cumsum(np.random.randn(N))

In [ ]:
dates

In [ ]:
fig, axs = plt.subplots(3, 1, constrained_layout=True, figsize=(6, 6))
for nn, ax in enumerate(axs):
    locator = mdates.AutoDateLocator(minticks=3, maxticks=7)
    formatter = mdates.ConciseDateFormatter(locator)
    ax.xaxis.set_major_locator(locator)
    ax.xaxis.set_major_formatter(formatter)

    ax.plot(dates, y)
    ax.set_xlim(lims[nn])
axs[0].set_title('Concise Date Formatter')

plt.show()

In [ ]:
fig.savefig("my_plot_name.png")